USE [master]
GO
/****** Object:  Database [sqlcdc]    Script Date: 08/20/2012 23:40:35 ******/
CREATE DATABASE [sqlcdc] ON  PRIMARY 
( NAME = N'sqlcdc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sqlcdc.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sqlcdc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sqlcdc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sqlcdc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sqlcdc]
GO
/****** Object:  Table [dbo].[tablestatus]    Script Date: 08/20/2012 23:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tablestatus](
	[databasename] [nvarchar](255) NOT NULL,
	[tablename] [nvarchar](255) NOT NULL,
	[currentLSN] [binary](10) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
